<style type="text/css">
  .form-group input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  .form-group input.ng-valid.ng-touched {
    border-color: #78FA89;
  }
  .validerror{
      color: #FA787E;
  }
</style>
    
    <!-- Content box-layout -->
    <div class="container-fluid" id="container-body">
    	<!-- Top Banner -->
        <div class="topbox_banner">
            <img src="content/images/utilities/Employer_banner.jpg" class="img-responsive" />
        </div>
        <!-- Top Banner End -->
        
        <!-- signup_content_sector -->
		<div class="signup_content_sector container">
        	<h4>SIGN UP AS EMPLOYER</h4>
            
            <section class="signup_main">
                <form name="frmsignup"  novalidate id="frmsignup" method="post" action="" enctype="multipart/form-data">
            	<!-- form divide section 1 -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="image-uploder">
                            <img ng-src="{{imageemplrSrc}}" src="{{imageemplrSrc}}" class="img-circle uploder-thumbnil" alt="Click to uplode logo" title="Click to uplode Company logo" />
                            <input ng-file-select="onFileSelect($files)" type="file" class="uploder_file" name="companyLogo" title="Click to uplode logo" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.cname" name="companyName" class="input-control form-control" placeholder="Company Name" required="" />
                        <div ng-show="frmsignup.companyName.$touched">
                            <span ng-show="frmsignup.companyName.$error.required" class="validerror">Company Name is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.empname" name="employerName" class="input-control form-control" placeholder="Employer Name" required="" />
                        <div ng-show="frmsignup.employerName.$touched">
                            <span ng-show="frmsignup.employerName.$error.required" class="validerror">Employer Name is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.indscode" name="industryCode" class="input-control form-control" placeholder="Industry Code" required="" />
                        <div ng-show="frmsignup.industryCode.$touched">
                            <span ng-show="frmsignup.industryCode.$error.required" class="validerror">Industry Code is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.adrs1" name="address1" class="input-control form-control" placeholder="Address 1" required="" />
                        <div ng-show="frmsignup.address1.$touched">
                            <span ng-show="frmsignup.address1.$error.required" class="validerror">Address 1 is required !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.adrs2" name="address2" class="input-control form-control" placeholder="Address 2" required="" />
                        <div ng-show="frmsignup.address2.$touched">
                            <span ng-show="frmsignup.address2.$error.required" class="validerror">Address 2 is required !</span>
                        </div>
                    </div>
                    
                </div>
                <!-- form divide section 1 End -->
                
                <!-- form divide section 2 -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                	<div class="form-group">
                            <input type="text" ng-model="emplyr.city" name="city" class="input-control form-control" placeholder="City" required="" />
                            <div ng-show="frmsignup.city.$touched">
                            <span ng-show="frmsignup.city.$error.required" class="validerror"> City is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.state" name="state" class="input-control form-control" placeholder="State" required="" />
                        <div ng-show="frmsignup.state.$touched">
                            <span ng-show="frmsignup.state.$error.required" class="validerror">State is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.zip" name="zipCode" class="input-control form-control" placeholder="Zip Code" required="" />
                        <div ng-show="frmsignup.zipCode.$touched">
                            <span ng-show="frmsignup.zipCode.$error.required" class="validerror">Zip Code is required !</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.pcontact" name="primaryContact" class="input-control form-control" placeholder="Primary Contact" required="" />
                        <div ng-show="frmsignup.primaryContact.$touched">
                            <span ng-show="frmsignup.primaryContact.$error.required" class="validerror">Contact Number is required !</span>
                            <span ng-show="frmsignup.primaryContact.$error.number" class="validerror">Contact Number is required !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="emplyr.phone" name="phoneNumber" class="input-control form-control" placeholder="Phone Number" required="" />
                        <div ng-show="frmsignup.phoneNumber.$touched">
                            <span ng-show="frmsignup.phoneNumber.$error.required" class="validerror">Phone Number is required !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" ng-model="emplyr.mail" name="email" class="input-control form-control" placeholder="Email" required="" />
                        <div ng-show="frmsignup.email.$touched">
                            <span ng-show="frmsignup.email.$error.required" class="validerror">Email is required !</span>
                            <span ng-show="frmsignup.email.$error.email" class="validerror">This is not a valid email !</span>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-xs-12 col-sm-6 form-group">
                            <input type="password" ng-model="emplyr.pass1" stopccp name="password" class="input-control form-control" placeholder="Password" required="" />
                            <div ng-show="frmsignup.password.$touched">
                            <span ng-show="frmsignup.password.$error.required" class="validerror">Password is required !</span>
                        </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group">
                            <input type="password" ng-model="emplyr.pass2" data-password-verify="emplyr.pass1" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" name="txtcpass" class="input-control form-control" placeholder="Confirm Password" required="" />
                            <div ng-show="frmsignup.txtcpass.$touched">
                            <span ng-show="frmsignup.txtcpass.$error.required" class="validerror">Confirm Password is required !</span>
                            <span ng-show="frmsignup.txtcpass.$error.passwordVerify" class="validerror">Confirm Password not matching !</span>
                        </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                    <div>
                        <input id="checkbox1" ng-model="terms" type="checkbox" name="checkbox" value="1" required="" >
                            <label for="checkbox1" class="CR-label"><span></span>I accept <a href="#/" class="theme-link">Terms and Conditions</a></label>
                    </div> 
                    </div>
                    
                </div>
                <!-- form divide section 2 End -->
                 
                <!-- Button Section -->
	<div class="form-group text-center col-md-12">
                	<button type="button" ng-click="submitSigninForm()" ng-disabled="frmsignup.$invalid" class="btn btn-yellow btn-control">SIGN UP</button>
                </div>
                <!-- Button Section End -->
                </form>
            </section>
            
        </div>        
        <!-- signup_content_sector End -->
        
    </div>
     <!-- Content box-layout End -->
     <script>
        $('#myLoginmodel').modal('hide');
        $('#cotinueAlert').modal('hide');
     </script>
