<script src="./content/js/jquery.cycle2.js"></script>
    
    <!-- Content box-layout -->
    <div class="row mainwrap" id="container-body">
    
    	<div class="banner_slider">
        	<div class="cycle-slideshow " 
            data-cycle-fx="scrollHorz" 
            data-cycle-timeout="2000"
            data-cycle-slides=">  ul li"
            >
            <ul>
                <li ng-repeat="x in sliderimg"><img src="{{ x.image }}"></li>
                
            </ul>
            <div class="cycle-pager"></div>
        </div>
        </div>
        
        <div class="welcomWrap indspace">
            <div class="container">
            	<h1>WELCOME</h1>
                <p>
                	We're focused on delivering excellent levels of service with fast and reliable web servers, along with helpful and friendly customer support from our own Domain services are the coordinators, allowing higher level functionality between many different smaller parts. These would include things like OrderProcessor, ProductFinder, FundsTransferService, and so on.
                </p>
            </div>
        </div>
    
        <div class="paralOne">
           <div class="paralOne-img">
        		<h2>A site for employers <br> and jobseekers</h2>
                <p>Select and getstart Today</p>
                <a class="btn" href="#">Employer</a>
                <a class="btn" href="#">Jobseeker</a>
                
            </div> 
        </div> 
    
    
		<div class="indspace">
            <div class="container">
            	<h1 style="color:#5d5d5d">Select your Plan</h1>
                <div class="plansBox_outer">
                <div class="col-sm-4"><div class="plansBox">
                	<p>PER USE</p>
                    <h3>$ 25</h3>
                </div> </div>
                <div class="col-sm-4"><div class="plansBox">
                	<p>MONTHLY</p>
                    <h3>$ 236</h3>
                </div> </div>
                <div class="col-sm-4"><div class="plansBox">
                	<p>ANNUAL</p>
                    <h3>$ 867</h3>
                </div> </div>
                </div>
        	</div>
       </div>
       
      <div class="mob_paralx"> 
      	<div class="parallax-section"> 
           <div class="mobPic "> <img src="content/images/utilities/mobile.png" alt=""></div>
             <div class="paralCont">
             	<h3>Mobile App<br> available on</h3>
                <img src="content/images/utilities/palystore.png" alt="">
                <img src="content/images/utilities/appstore.png" alt="">
    		</div>
         </div>
      </div>
      
      <div class="viewMore_area"> Employment <span>opportunities</span> for professionals <a class="btn more" href="#">VIEW MORE</a> </div>
      
      <div class="feature_box">
      	<div class="f_left">
        	<img class="pic" src="content/images/utilities/home-04.jpg" alt="">
            <div class="postCont">
            <h6>I'm looking for help.</h6>
            <a class="btn detBtn" href="#">Employer</a>
            </div>
        </div>
        <div class="f_right">
        	<img class="pic" src="content/images/utilities/home-05.jpg" alt="">
            <div class="postCont">
            <h6>I'm looking for work.</h6>
            <a class="btn detBtn" href="#">Jobseeker</a>
            </div>
        </div>
      </div>
      
      <div style="position:relative; float:left; width:100%;"> <div class="indspace aboutWrap">
      	<div class="about_grip"></div>
      	<div class="container">
            <h1 style="color:#333333;">About</h1>
            <p>
            We're focused on delivering excellent levels of service with fast and reliable web servers, along with helpful and friendly customer support from 	        our own Domain services are the coordinators, allowing higher level functionality between many different smaller parts. These would include things        like OrderProcessor, ProductFinder, FundsTransferService, and so on.
            </p>
        </div>
        
      </div> </div>
    
    </div>
     <!-- Content box-layout End -->

    