
<div class="container-fluid"><!-- Main box-layout -->
	<!-- Navigation -->
    <nav class="EH-navigation">
    	<div class="container">
        	<div class="EH-logo">
            	<img src="content/images/utilities/logo_eH.png" class="img-logo-main" alt="ExtraHourz" />
            </div>
            <span id="menu-bar"><i class="fa fa-bars"></i></span>
            
            <ul class="navigation-menu" id="resMenu">
                <li><a href="#/">HOME</a></li>
                <li class="active">
                    <a href="#/">GET STARTED</a> 
                    <ul class="navigation-submenu">
                        <li><a href="#/signup">Employer</a></li>
                        <li class="active"><a href="#/jobseek1">Jobseeker</a></li>
                    </ul>
                </li>
                <li><a href="#/">LOG IN</a></li>
            </ul>
            
        </div>
    </nav>
	<!-- Navigation End -->
    
    <!-- Content box-layout -->
    <div class="container-fluid" id="container-body">
    	<!-- Top Banner -->
        <div class="topbox_banner">
        	<img src="content/images/utilities/Employer_banner.jpg" class="img-responsive" />
        </div>
        <!-- Top Banner End -->
        
        <!-- signup_content_sector -->
		<div class="signup_content_sector container">
        	<h4>SIGN UP AS JOBSEEKER</h4>
            
            <div class="step-pagination">
            	<span class="active">
                	<a href="#/jobseek1">
                    	<font>Personal</font>
                    </a>
					<a href="#/jobseek1">
                    	<span class="step-pagination-bullet"></span>
                    </a>					
                </span>
                <span class="active">
                	<a href="#/jobseek2">
                    	<font>Experience</font>
                    </a>
					<a href="#/jobseek2">
                    	<span class="step-pagination-bullet"></span>
                    </a>					
                </span>
                <span>
                	<a href="#/jobseek3">
                    	<font>Avilability</font>
                    </a>
					<a href="#/jobseek3">
                    	<span class="step-pagination-bullet"></span>
                    </a>					
                </span>
            </div>
            
            <section class="signup_main">
            	<!-- form divide section 1 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="form-group">
                    	<label class="block-label">Upload:</label>
                        <span class="inline-btns">
                        	<input type="file" class="btn-uploder" />
                        	<button type="submit" class="btn btn-outline-yellow">I-9 FORMS</button>
                        </span>
                        <span class="inline-btns">
                        	<input type="file" class="btn-uploder" />
                        	<button type="submit" class="btn btn-outline-yellow">W-4 FORMS</button>
                        </span>
                        <span class="inline-btns">
                        	<input type="file" class="btn-uploder" />
                        	<button type="submit" class="btn btn-outline-yellow">RESUME</button>
                        </span>
                    </div>
                    
                </div>
                <!-- form divide section 1 End -->
                
                <!-- form divide section 2 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                	<label>Job History(Last 3 jobs):</label>
                    <div class="row">
                    	<div class="form-group col-sm-4">
                            <input type="text" class="input-control form-control" placeholder="Job 1" />
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <input type="text" class="input-control form-control" placeholder="Job 2" />
                        </div>
                        
                        <div class="form-group col-sm-4">
                            <input type="text" class="input-control form-control" placeholder="Job 3" />
                        </div>
                    </div>
                    
                </div>
                <!-- form divide section 2 End -->
                
                <!-- Button Section -->
				<div class="form-group col-sm-12 text-center">
                	<button type="submit" class="btn btn-dark btn-control">BACK</button>
                	<button type="submit" class="btn btn-yellow btn-control">NEXT</button>
                </div>
                <!-- Button Section End -->
                
            </section>
            
        </div>        
        <!-- signup_content_sector End -->
        
    </div>
     <!-- Content box-layout End -->

	 <!-- Footer -->
	<footer class="EH-footer">
    	<div class="container">
        	<ul class="footer-navlist">
            	<li><a href="#">LEADERSHIP</a></li>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <div class="footer-copyright">
            	<font>&copy; Copyright 2016 ExtraHourz. All rights reserved</font>
            </div>
        </div>
    </footer>
     <!-- Footer End -->
</div>
<!-- Main box-layout End -->
